<div class='Hview'>
		
		<img src="./Pictures/Home2.png" class="homeicon">
		<img src="./Pictures/Key.png" class='loginicon'>
		<h1 class='mainheader'>
			What to Watch?
		</h1>
</div>
	
<div class="detailsbox">
	<div class='imageholder'>	
	<img class='MovieImage'src="<%=data.get('posters').detailed%>">
	</div>
	<div class="title"><%=data.get('title')%></div>
	<div class="between">
		<div class="rating">Movie Rating:<%=data.get('mpaa_rating')%></div>
		<div class="year">Year Released:<%=data.get('year')%></div>
	</div>
	<div class="below">
		<div class="UserRating">User Rating: <%=data.get('ratings').audience_score%>%</div>
		<div class="Critics">Critic Rating: <%=data.get('ratings').critics_score%>%</div>
	</div>
	<div class="DetailedInfo"><%=data.get('synopsis')%></div>
</div>	



