<div class='imageholder' style="background-image: url(<%=data.get('posters').detailed.replace(/.*?(?=movie)/, "http:\/\/content8.flixster.com/")%>)"></div>

<div class="toolbar">
	<!-- <img src="./Pictures/Home2.png" class="homeicon"> -->
    <!-- <img src="./Pictures/Key.png" class='loginicon'> -->
    <a href="#home">&#8619;</a>
    <h4>What to Watch?</h4>
</div>

<div class='Hview'></div>

<div class="detailsbox">
    <div class="title">
        <h1><%=data.get( 'title')%></h1>
    </div>
    <hr>
    <div class="grid grid-2-1 subheader-grid">
        <div class="rating">
        	<span>Movie Rating</span>
            <%=data.get( 'mpaa_rating')%>
        </div>
        <div class="UserRating">
        	<span>User Rating</span>
            <%=data.get( 'ratings').audience_score%>%
        </div>
        <div class="year">
        	<span>Year Released</span>
            <%=data.get( 'year')%>
        </div>
        <div class="Critics">
        	<span>Critic Rating</span>
            <%=data.get( 'ratings').critics_score%>%
        </div>
    </div>
    <hr>
    <div class="DetailedInfo">
        <%=data.get('synopsis')%>
    </div>
</div>
