<div class='Hview'>
    <img src="./Pictures/Reel.png" class="homeicon">
    <img src="./Pictures/login.png" class='loginicon'>
    <h1 class='mainheader'>What to Watch?</h1>
</div>



<div class="sidebar">
    <form class='SC'>
        <input class="Searchbar" type='search' Placeholder="Search...">
        <input class="GO" type="submit">
    </form>
    <div class="backer">
        <ul class='styling'>
            <li>
                <a href=>Top movies</a>
            </li>
            <li>
                <a href=>Box Offices</a>
            </li>
            <li>
                <a href=>in theaters</a>
            </li>
            <li>
                <a href=>Opening Movies</a>
            </li>
            <li>
                <a href=>Upcoming Movies</a>
            </li>
        </ul>
    </div>
</div>
<div class='HowTo'>
    <ul class="grid grid-2-500 grid-3-800 grid-4-1000 Movies">
        <% data && data.forEach(function(movie){ %>
            <a class='listed' href="#info/<%= movie.id %>" data-movieId="<%=movie.id%>">
                <%= movie.get('title').length > 20 ? movie.get('title').substr(0,17)+'...': movie.get('title') %>
                <img src="<%= movie.get('posters').thumbnail %>">
            </a>
        <% }) %>
    </ul>
</div>
